<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global/templates/blog/partials/_head.html" %}
</head>
<body>
    <nav>
        {% include "global/templates/blog/partials/_navbar.html" %}
        
        
    </nav>
    <header>
        {% include "global/templates/blog/partials/_header.html" %}
    </header>
    <main>
        {% include "global/templates/blog/sections/_section_principal.html" %}
        
    </main>
    {% include "global/templates/blog/partials/_footer.html" %}
    {% include "global/templates/blog/partials/_scripts.html" %}
</body>
</html>