<!DOCTYPE html>
<html lang="en">
<head>
    {% include "global/templates/partials/_head.html" %}
</head>
<body>
    <nav>
        {% include "global/templates/partials/_navbar.html" %}
    </nav>
    <header>
        {% include "global/templates/partials/_header.html" %}
    </header>
    <main>
        {% include "global/templates/sections/_section_skills.html" %}
        {% include "global/templates/sections/_section_education.html" %}
        {% include "global/templates/sections/_section_abount.html" %}
        {% include "global/templates/sections/_section_contact.html" %}
    </main>
    {% include "global/templates/partials/_footer.html" %}
    {% include "global/templates/partials/_scripts.html" %}
</body>
</html>