{% load static %}
<section id="skills">
    <h2  contenteditable="false" style="margin-bottom: 1.5em">Skills</h2>
    <div>
       <!-- <h4>Linguagens, Ferramentas e Frameworks</h4>-->
        <div>
            <b>
                <span class="">
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/sql-server.png" alt="SQL-Server" > SQL Server
                </span> 
                <span class="">
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/mysql.png" alt="SQL-Server" > Mysql
                </span> 
                <span class="">
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/oracle.png" alt="Oracle" > SQL Oracle (PL/SQL)
                </span> 
            </b>
            {% comment %} <span class="badge badge-primary">QlikSense</span>{% endcomment %}
        </div>
        <br>
        <div>
            <b>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/html.png" alt="HTML5" >HTML5 
                </span>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/css-3.png" alt="CSS" >CSS3 
                </span>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/js.png" alt="JS" >JS 
                </span>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/arquivo-json.png" alt="JSON" > JSON
                </span>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/github.png" alt="Github" > Github 
                </span>
            </b>
            
        </div>
        <br>
        <div>
            <b>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/python.png" alt="Python" > Python
                </span>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/r.png" alt="R" > R
                </span>
                <span class=" ">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/knime.png" alt="Knime" > Knime
                </span>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/powerbi.png" alt="Knime" > Powerbi
                </span>
                <span class="">   
                    <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/dax.png" alt="Dax" > Dax
                </span>
            </b>
        </div>
    </div>
    
</section>
