<section id="sobre" >
    <h2 style="margin-bottom: 1.5em">Sobre</h2>

    <div class="python-comment">
        <div class="typing-effect">
            <p class="paragraph-about">
                '''Analista de Dados em Desenvolvimento | Python, SQL, Machine Learning, Visualização de Dados
       
                Sou um entusiasta de Data Science com foco em aprimorar minhas habilidades técnicas em Python, 
                SQL, e ferramentas de Machine Learning. Por meio de estudos autodidatas e cursos, venho desenvolvendo 
                competências sólidas em análise de dados, modelagem estatística e visualização de insights utilizando 
                ferramentas como Power BI e Tableau.
    
                Possuo habilidades em manipulação e limpeza de dados, construção de dashboards interativos, e aplicação 
                de técnicas de modelagem preditiva para gerar insights acionáveis. Além disso, tenho experiência em extração, 
                transformação e carga (ETL) de dados, utilizando pandas e NumPy para análise em Python. Minhas habilidades em 
                machine learning incluem algoritmos como regressão linear, árvores de decisão, k-means clustering, e redes neurais.
       
                Minha proficiência em estatística e análise exploratória de dados (EDA) me permite entender melhor os dados antes de 
                aplicar modelos. Além disso, domino SQL para consultas em bancos de dados relacionais e não relacionais, e utilizo Excel 
                para análise de dados e construção de relatórios.
         
                Atualmente, estou à procura de oportunidades onde possa aplicar essas habilidades em um ambiente colaborativo, 
                contribuindo para a tomada de decisões informadas através da análise de grandes volumes de dados. Busco expandir 
                meu conhecimento em Big Data, Apache Spark, Hadoop, data warehousing, e data mining.
    
                Estou aberto a conectar com profissionais da área de Data Science para discutir soluções baseadas em dados e explorar 
                possíveis colaborações que envolvam automação de processos, reporting avançado, análise preditiva, integração de dados, 
                visualização interativa, técnicas de amostragem, business intelligence, data governance, e comunicação de resultados.'''<span class="cursor">|</span>
                
            </p>
        </div>
        
    </div>
    
    
</section>