{% load static %}
<section id="skills">
    <h2 style="margin-bottom: 1.5em">Skills</h2>
    <div>
        <h4>Linguagens de Programação e Frameworks</h4>
        <div>
            <span class="badge badge-primary">
                <i class="fas fa-database"></i> SQL Server
            </span>
            <span class="badge badge-primary">
                <i class="fas fa-database"></i> MySQL
            </span> 
            <span class="badge badge-primary">
                <i class="fas fa-database"></i> SQL Oracle (PL/SQL)
            </span> 

              
            {% comment %} <span class="badge badge-primary">QlikSense</span>
            <span class="badge badge-primary">Alteryx</span>
            <span class="badge badge-primary">Tableau</span>
            <span class="badge badge-primary">QlikView</span> {% endcomment %}
            <span class="badge badge-primary">
                
                <i class="fa-solid fa-chart-line"></i>
                
                PowerBI


            </span>
        </div>
        <div>
            <span class="badge">   
                <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/html.png" alt="HTML5" > 
            </span>
            <span class="badge">   
                <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/css-3.png" alt="CSS" > 
            </span>
            <span class="badge">   
                <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/js.png" alt="CSS" > 
            </span>
            <span class="badge">   
                <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/arquivo-json.png" alt="CSS" > 
            </span>
            <span class="badge">   
                <img  class="icons-skills" src="{{ MEDIA_URL }}media/img/github.png" alt="CSS" > 
            </span>

            <span class="badge badge-success">JSON</span>
            <span class="badge badge-success">Programação Orientada a Objetos</span>
        </div>
        <div>
            <span class="badge badge-warning">NodeJS</span>
            <span class="badge badge-warning">React</span>
            <span class="badge badge-warning">CSS3</span>
            <span class="badge badge-warning">PHP</span>
            <span class="badge badge-warning">Python</span>
        </div>
    </div>
    
</section>