{% block _header %}
<header id="header">
    <span class="img-profile">        
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" 
            src="https://github.com/bragamy001.png" alt="Quelvin Carvalho">
        
    </span>
    <h1>Quelvin Carvalho Santana</h1>
    <p>
        <strong>Analista de dados</strong>
    </p>
    <div class="social-icons">
        <a href="https://linkedin.com/in/quelvincarvalho">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.github.com/quelvindev">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/quelvincarvalho">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://t.me/quelvincarvalho">
            <i class="icons fab fa-telegram"></i>
        </a>
        <a href="https://wa.me/qr/M7YOKF3I4OFKD1">
          <i class="fa-brands fa-whatsapp"></i>
      </a>
      </div>
    
</header>

{% endblock _header %}