
<section id="contact">
        <h2 style="margin-bottom: 1.5em">Contato</h2>
    <div class="itens-contact">
        <div class="itens-contact-row">
            <img src="media/img/telefone.png" alt="telefone">
            <p>
                <a href="tel:+5575991898088">
                    <p>(75) 99189-8088</p>
                </a>
            </p>
        </div>
        <div class="itens-contact-row">
            <img src="media/img/e-mail.png" alt="email">
            <p>
                <a href="mailto:quelvidev@gmail.com">
                    <p>quelvidev@gmail.com</p>
                </a>
            </p>
        </div>
    </div>
</section>
