{% block navbar %}

    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" style="background-color: black;">
        <div class="container">
            <a class="navbar-brand loho" href="#header">Quelvin Carvalho</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" wfd-invisible="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#skills">
                            <i class="fas fa-tools"></i> Skills
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#education">
                            <i class="fas fa-graduation-cap"></i> Formação
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#abount">
                            <i class="fas fa-user"></i> Sobre
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#contact">
                            <i class="fas fa-envelope"></i> Contato
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"  href="media/docs/curriculo.pdf" download>
                            <i class="fas fa-book"></i>Currículo
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

{% endblock %}